<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>错误页面</title>
      
      <link rel="stylesheet" href="/static/css/backend-plugin.min.css">
      <link rel="stylesheet" href="/static/css/backend.css">  </head>
  <body class=" ">

    
      <div class="wrapper">
      <div class="mt-5 iq-maintenance">
            <div class="container-fluid p-0">
               <div class="row no-gutters">
                  <div class="col-sm-12 text-center">
                        <div class="iq-maintenance">
                           <img src="/static/picture/maintenance.png" class="img-fluid" alt="">
                           <h3 class="mt-4 mb-2">{{ errorMsg }}</h3>
                           <p class="mb-2">请回去再次检查问题并且修改问题.</p>
                           <p><a href="/user/login" class="btn btn-primary">回到登录页</a></p>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    
    <!-- Backend Bundle JavaScript -->

  </body>
</html>